<p style="color: green"><%= notice %></p>

<%= render @user %>
<!--May be an incorrect behavior below. View crashes when new user created cuz no micropost yet.-->
<!--So microposts instead to let it run but doesnt show the first micropost as ordered to ->
<%= render @user.microposts%>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
